body{
	font-family: 'Roboto', sans-serif;
}
* {
  margin: 0;
  padding: 0;
  max-width: 100%;
  }

a {
  text-decoration: none;
  text-color: #000;
  }

nav {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #129cff;
  text-decoration: none;
  padding: 15px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
 z-index:1;
  }

.icon {
  margin-right: 90px;
  color: white;
  text-decoration: none;
 font-size: 24px;
  }

.textHome {
  text-align: center;
  flex: 1;
  margin-left: 10px;
  margin-top: 5px;
  text-decoration: none; /* Menghilangkan dekorasi teks */
  color: white; /* Mengubah warna teks menjadi putih */
  }
 
.centered-image {
  display: block;
  margin: 25px auto;
  margin-top: 80px;
  width: 115px;
  height: 115px;
  }

h2 {
  text-align: center;
  color: #312e3b;
  }

p {
  color: #2a3236;
 
  }

.card-container {
  display: flex;
  position: absolut;
  justify-content: center;
  align-items: center;
  height: 100%;
  }

.card {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  }


form {
  margin-bottom: 10px;
  }

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  }

input[type="text"],
input[type="number"],
  textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #94B6D9;
  border-radius: 5px;
  }

input[type="submit"] {
  position: center;
  background-color: #129cff;
  color: white;
  padding: 10px 40px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
   }
input {
  position: center;
  }

input[type="submit"]:hover {
  background-color: #129cff;
  }

input[type="submit"]:active {
  animation: spin 2s linear infinite;
  }

#loadingAnimation {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  }

#successMessage {
  display: none;
  margin-top: 10px;
  padding: 10px;
  color: rgba(18, 156, 255, 0.7);
  color: #129cff;
  border-radius: 5px;
  text-align: center;
  }

#submittedData {
  margin-top: 10px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  text-align: left;
  }

#submittedData  {
  margin: 5px 0;
  }

.spinner {
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-left: 5px solid #129cff;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin .8s linear infinite;
  margin-right: 30px;
  }

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform:
rotate(360deg); }
  }
.social-icons {
  text-align: center;
  margin-top: 20px;
  }

.icon-link {
  margin: 0 10px;
  font-size: 24px;
  color: #94B6D9;
  text-decoration: none;
  transition: color 0.3s;
  }

.icon-link:hover {
  color: rgba(18, 156, 255, 0.7);
  }

.donate-button {
  text-align: center;
  margin-top: 20px;
  }

.donate-btn {
  padding: 8px 15px;
  font-size: 13px;
  background-color: #94B6D9;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  }

.donate-btn:hover {
  background-color: rgba(18, 156, 255, 0.7);
  }

.copyright {
  text-align: center;
  margin-top: 20px;
  font-size: 13px;
  color: #999
  }

.copyright a{
  text-align: center;
  margin-top: 20px;
  font-size: 13px;
  color: #94B6D9
}