/* Reset margin dan padding default */
body {
  margin: 0;
  padding: 0;
  background-color: #333;
  font-family: Arial, sans-serif; /* Tambahkan font-family yang sesuai */
}

/* Gaya navbar */
nav {
  background-color: #129cff;
  padding: 13px;
  position: fixed;
  width: 100%;
  top:0;
  z-index:1;
}

nav a {
  color: white;
  padding: 10px;
  font-size: 18px; /* Mengurangi ukuran font agar sesuai dengan tampilan */
  text-decoration: none;
}

/* Gaya card */
.containerCard-a1{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
  margin-top:50px;
  margin-bottom:1px;

}

.card{
  width: 162px;
  height: 200px; /* Mengubah tinggi card agar lebih baik */
  background-color: #f5fafa;
  border: 1.5px solid #94B6D9;
  padding: 10px; /* Memperbesar padding agar lebih baik */
  margin-bottom: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  text-align: center;
}

.br-text {
  color: #363636;
}

.containerCard-a2{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
  margin-top:5px ;
}

.mon {
  width: 100%;
  height: 200px; /* Mengubah tinggi mon agar lebih baik */
  background-color: #f5fafa;
  border: 1.5px solid #94B6D9;
  padding: 10px; /* Memperbesar padding agar lebih baik */
  margin-bottom: 10px;
  box-sizing: border-box;
  text-align: center;
}

/* Animasi slide dari samping kiri ke tengah saat menggulir */
@keyframes slide-from-left {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Animasi slide dari samping kanan ke tengah saat menggulir */
@keyframes slide-from-right {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Animasi slide dari samping kiri ke tengah pada containerCard-a1 */
.containerCard-a1 {
  animation: slide-from-left 1s ease-out both;
}

/* Animasi slide dari samping kanan ke tengah pada containerCard-a2 */
.containerCard-a2 {
  animation: slide-from-right 2s ease-out both;
}
